# Byte-compiled files
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
PIPFILE.lock

# Testing
.coverage
.pytest_cache/
htmlcov/
.tox/

# VS Code
.vscode/

# PyCharm
.idea/

# Frappe
*.log
.DS_Store
node_modules/
locks/

# Environment
.env
.env.local

# Development
*.swp
*.swo
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride